body {
background-color: #F5F5DC;   
  }
h1 {
  font-size: 4.5rem;
  text-decoration:underline;
  color: red;
  font: oblique bold 250% cursive;
  font-family: font-family: fantasy;
  background-color: #F5F5DC;
  font-family: 'Sigmar One', cursive;
  
}
h2 {
  font-size: 2.5rem;
  margin-left: 1em;
  color: teal;
  text-decoration:underline;
  font-style: oblique bold  cursive;
  font-family: 'Sigmar One', cursive;
}
.copy {
	color: black;
	font-size: 1.2rem;
	margin-top: 100px;
	text-align:center;
  
  
}
.btn{
	margin-bottom:2em;
	border-style: solid;
    border-width: medium;
	border: 5px solid;
}